---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';

import Intro from '../components/Intro.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import AboutMe from '../components/AboutMe.astro';

import BriefcaseIcon from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro';
import ProfileCheckIcon from '../components/icons/ProfileCheck.astro';
---

<Layout 
	title="Portfolio de Rafael Rivero - Desarrollador Full-Stack" 
	description='Contrata a Rafael para crear tu aplicación web o móvil'
>
	<main class="px-4">
		<Section class="py-44 pb-24">
			<Intro>
				</slot>
			</Intro>
		</Section>

		<Section id="experiencia-laboral">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<BriefcaseIcon class="size-7" />
				Experiencia Laboral
			</h2>
			<Experience />
		</Section>

		<Section id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</Section>

		<Section id="sobre-mi">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<ProfileCheckIcon class="size-8" />
				Sobre mí
			</h2>
			<AboutMe />
		</Section>
	</main>
</Layout>